section.bottom
    div.container
        div.bottom__col
            a.bottom__col-link(href="#") @superbloom.health
            p.bottom__col-text If you’re experiencing a clinical emergency and need immediate help, call 911 or go to the nearest emergency room.
        div.bottom__col
            img.bottom__col-img(src="./assets/imgs/oo.svg" alt="logo")
        div.bottom__col
            a.bottom__col-link(href="#") Terms & Conditions | Privacy Policy
            p.bottom__col-text National Suicide Prevention Lifeline: 800-273-8255
            p.bottom__col-text Crisis Text Line: Text HOME to 741741