section.content
    div.container
        div.content
            img(src="./assets/imgs/community.svg")
            h2.content__title Discover a Supportive Community
            p.content__text We’ve built a private online community where you can talk about your conditions, and discover relevant health information through our forums and resources. Together, we’ll thrive.
    img(src="./assets/imgs/oo.svg")
    div.container
        div.content
            h2.content__title Mental Health on Your Terms
            p.content__text We’ve all got our problems. Superbloom is the best place to select an emotional wellness plan that works for your time and budget from our offerings of group workshops, Super Circle cohorts, and 1-1 therapy all guided by compassionate and experienced therapists.
            img(src="./assets/imgs/health.svg")
    img(src="./assets/imgs/oo.svg")
    div.container
        div.content
            img(src="./assets/imgs/support.svg")
            h2.content__title Educational Resources for Mind-Body Support
            p.content__text Our content is created by wellness experts and community members who have gone through physical and mental health challenges of their own. Explore our Journal and join our workshops for guidance on movement, nutrition and mindfulness. Because emotional wellbeing is so much more than mental!
    img(src="./assets/imgs/ss.svg")