section.forum
    div.container
        img.forum__img(src="./assets/imgs/white oo.svg")
        p.forum__text At Superbloom, we know that none of our members share the same health journey. No two stories are the same, and no two bodies are either. That’s why we believe in building a platform that empowers you to take control of your mental health to feel your best self – today and every day.
        button.forum__btn go to our forum