section.mission
    div.container
        div.mission__content
            p.mission__subtitle Mission
            h2.mission__text Our mental health resources are developed to encourage and bolster emotional wellness. Superbloom is here to support you feeling balanced in mind and body.
            button.mission__btn get started
        img.mission__img(src="./assets/imgs/mission.svg")
    img.mission__logo(src="./assets/imgs/oo.svg")