section.quote
    div.container
        h2.quote__text “We believe in the power of mind-body solutions for emotional wellbeing. Our personalized, clinically-backed approach is built to empower our members.”
        img.quote__img(src="./assets/imgs/Founder.svg")
        p.quote__subtitle Erin Berman
        p.quote__subtitle Founder