div.top
    img.top__logo(src="./assets/imgs/logo.png" alt="logo")
    div.top__nav
        p
            a(href="#") Forum
        p
            a(href="#") Events
        p
            a(href="#") Therapy
        p
            a(href="#") Journal
    button.top__btn Login
    button.top__sign Sing up for therapy
