doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="./assets/css/app.css")
        title Document
    body
        include ./components/topper.pug
        include ./components/fs.pug
        include ./components/mission.pug
        include ./components/care.pug
        include ./components/quote.pug











